<% include partials/head %>
<% include partials/header %>

  <div class="container">
    <div class="row">
      <div class="main">
        <h1>Easy 4orum!</h1>
        <h3 class="subtitle">Sign up to your favorite sites</h3>
        <a href="register"><button type="button" name="button">Get Started Today</button></a>
      </div>
    </div>
  </div>

<% include partials/footer %>
